.header {
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    max-width: 100%;
    margin: 0 199px;
    height: 74px;
}

@media screen and (max-width: 1080px) {
    .header { 
        margin: 0 99px;
    }    
}

@media screen and (max-width: 540px) {
    .header { 
        margin: 0;
        height: 54px;
    }    
}