.element__image-like_active {
    background-image: url('../../../../images/VectorlikeActive.svg');
    min-width: 20.76px;
    height: 18.13px;
    border: none;
    background-color: white;
    align-self: center;
    outline: none;
    cursor: pointer;
}

.element__image-like_active:hover {
    opacity: 0.7;
    transition: .4s;
}
